html,
body {
    clear: both;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.op-0 {
    opacity: 0;
}

.wrap {
    width: 90%;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
    outline: 0;
}

h1, h2, h3 {
    color: #444;
}

#count, #lang {
    padding: 3px 10px;
    border: 0;
    border: 1px solid #ddd;
    border-radius: 2px;
}
#count:focus, #lang:focus {
    border: 1px solid #ccc;
}
#lang {
    text-transform: capitalize;
}

#article {
    width: 100%;
    min-height: 320px;
    border: 1px solid #ddd;
    padding: 14px;
    font-size: 14px;
    line-height: 1.5em;
    border-radius: 3px;
}

#article:focus {
    border: 1px solid #ccc;
}


#results {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #eee;
    margin: 0 0 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    text-align: justify;
}

.sumy-wrap {
    /*text-align: center;*/
    margin: 24px 0;
    background-color: #b42d32;
    color: #eee;
    padding-top: 4px;
    padding-bottom: 4px;
}
#sumy-btn {
    border: 0;
    outline: 0;
    width: 96px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  transition: opacity .2s ease;
}

.spinner > div {
  background-color: #eee;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}